/* layout */
:root{
    --primary-100: #F5FEE7;
    --primary-200: #E8FEC5;
    --primary-300: #C0FA73;
    --primary-400: #57A203;
    --primary-500: #477A11;

    --neutral-0: #FFFFFF;
    --neutral-100: #F8F9FA;
    --neutral-200: #E9ECEF;
    --neutral-300: #DEE2E6;
    --neutral-400: #CED4DA;
    --neutral-500: #ADB5BD;
    --neutral-600: #6C757D;
    --neutral-700: #495057;
    --neutral-800: #343A40;
    --neutral-900: #212529;

    --warning-300: #F38B12;

    --success-300: #36A375;
}

body{
    box-sizing: border-box;
    color: #212529;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-family: "Noto Sans TC",sans-serif;
}

img{
    display: block;
}

h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}
h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
}
h4{
    font-size:24px;
    font-weight: 700;
    line-height: 1.2;
}
h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}
h6{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}

.mx-auto{
    margin: 0 auto;
}

.d-flex{
    display: flex;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.jcsb{
    justify-content: space-between;
}

.col-2{
    max-width: 196px;
}
.col-8{
    max-width: 856px;
    /* width: 66.66666%; */
}
/* .col-10{
    width: 83.333%;
} */
.col-12{
    max-width: 1296px;
    /* width: 100%; */
}


.p-32{
    padding: 32px;
}
.pl-8{
    padding-left: 8px;
}
.pl-12{
    padding-left: 12px;
}
.pl-110{
    padding-left: 11px;
}
.pr-110{
    padding-right: 110px;
}
.pb-4{
    padding-bottom: 4px;
}
.pb-48{
    padding-bottom: 48px;
}
.mr-8{
    margin-right: 8px;
}
.mr-12{
    margin-right: 12px;
}
.mr-24{
    margin-right: 24px;
}
.mr-40{
    margin-right: 40px;
}
.mr-48{
    margin-right: 48px;
}

.mb-4{
    margin-bottom: 4px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-64{
    margin-bottom: 64px;
}
.mb-80{
    margin-bottom: 80px;
}

.radius-sm{
    border-radius: 4px;
}
.radius-md{
    border-radius: 12px;
}
.radius-rounded{
    border-radius: 1000px;
}

.bd-left-1{
    border-left: 1px solid var(--neutral-900);
}
.bd-left-3{
    border-left: 3px solid var(--neutral-300);
}
.bd-bottom-1{
    border-bottom: 1px solid var(--primary-400);
}
.bd-bottom-1-section{
    border-bottom: 1px solid var(--neutral-300);
}

.footer{
    background-color: var(--neutral-100);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.footer-wrap{
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

/* page */

/* 品牌介紹頁面 */
.container-brand-intro{
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
}
/* 在 border-box 前提下
加入 padding 
為何不會讓 .container-brand-intro 的內容寬度縮小？ */
.hero-section{
    color: #fff;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 151px 0;
}

.highlight-section{
    background-color: var(--primary-100);
    text-align: center;
}
.highlight-section h5{
    color: var(--primary-400);
}
.highlight-section p{
    color: var(--neutral-900);
}


.main-img{
    margin-left: -110px;
    margin-right: -110px;
}
.main-img img{
    max-width: 1076px;
    width: 100%;
    height: auto;
}

.brand-intro-section h5{
    color: var(--primary-400);
}

.brand-timeline-section ol{
    list-style-type: disc;
    padding-left: 1.5rem;
}

.brand-story-section ul li a{
    display: block;
    color: var(--primary-400);
    text-decoration: none;
}
.brand-story-section ul li a:hover{
    color: var(--warning-300);
}
.brand-story-section ul li a i{
    font-size: 20px;
}
.brand-story-section ul li a i,
.brand-story-section ul li a span{
    display: inline-block;
    vertical-align: middle;
}

/* 產品列表頁面 */
.container-product-list{
    margin: 0 auto;
}
/* .nav */
.nav{
    padding-top: 16px;
    padding-bottom: 16px;
}
.nav a{
    display: block;
}
.nav .container-product-list .nav-left .logo img{
    height: 46px;
}
.nav .container-product-list .nav-left .nav-menu li a{
    text-decoration: none;
    color: var(--neutral-900);
    padding-top: 12px;
    padding-bottom: 12px;
}
.nav .container-product-list .nav-left .nav-menu li a:hover{
    color: var(--primary-400);
}
.nav .container-product-list .avatar a{
    padding: 12px;
}
.nav .container-product-list .avatar a:hover i{
    color: var(--primary-400);
}
.nav .container-product-list .avatar a i{
    display: block;
    width: 24px;
    height: 24px;
    color: var(--neutral-900);
}
/* .product-list */
.container-product-list a{
    display: block;
}
.container-product-list .breadcrumb a{
    display: inline-block;
    text-decoration: none;
    color: var(--neutral-900);
}
.container-product-list .breadcrumb a:hover{
    color: var(--primary-400);
}
.container-product-list .breadcrumb span{
    display: inline-block;
}

.container-product-list main .main-menu{
    width: 196px;
}
.container-product-list main .main-menu .main-menu-item a{
    font-weight: 500;
    color: var(--neutral-900);
    text-decoration: none;
    padding: 10px 0;
}
.container-product-list main .main-menu .main-menu-item a:hover{
    color: var(--primary-400);
}
.container-product-list main .content{
    flex: 1;
}
.container-product-list main .content .product-list .product-list-card img{
    width: 342.67px;
    height: 342.67px;
}
.container-product-list main .content .product-list{
    flex-wrap: wrap;
}
/* .pagination */
.container-product-list main .content .pagination li a{
    display: block;
    text-decoration: none;
}
.container-product-list main .content .pagination .pagination-chevron a{
    display: block;
    color: var(--neutral-900);
    padding: 10px;
}
.container-product-list main .content .pagination .pagination-chevron a:hover{
    background-color: var(--primary-300);
}
.container-product-list main .content .pagination .pagination-chevron a i{
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
}
.container-product-list main .content .pagination .pagination-page a{
    color: var(--neutral-900);
    padding: 8px 15px;
}
.container-product-list main .content .pagination .pagination-page a:hover{
    background-color: var(--primary-300);
}
.container-product-list main .content .pagination .pagination-more-pages a{
    color: var(--neutral-900);
    /* padding: 8px 12.5px; */
}
.container-product-list main .content .pagination .pagination-more-pages a:hover{
    background-color: var(--primary-300);
}
/* .call-to-action */
.call-to-action{
    /* width: 100%; */
    /* display: block;
    max-width: 100%; */
    background-color: var(--primary-200);
    padding: 24px 0;
}
.call-to-action .container-test .cta-btn{
    display: block;
    width: fit-content;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: var(--neutral-900);
    padding: 12px 24px;

}
.call-to-action .container-test .cta-btn:hover{
    color: var(--success-300);
    background-color: #fff;
    transform: scale(1.2)
}
/* footer */
.footer .container-product-list .footer-nav .nav-left .nav-menu li a{
    text-decoration: none;
    color: var(--neutral-900);
    font-size: 16px;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
}
.footer .container-product-list .footer-copyright{
    padding-top: 32px;
    border-top: 1px solid var(--neutral-300);
}
